@import "./common";

.gswpts_style-4.gswpts_style-4 {
    table {
        thead th,
        tbody tr td {
            background-color: #000;
            color: white;
        }
        thead th {
            border: none;
        }

        thead,
        tbody {
            tr:hover {
                td,
                th {
                    background-color: #504949;
                }
            }
        }

        a {
            color: orange;
            &:hover {
                color: #2ecc40;
            }
        }

        .sorting.sorting.sorting::after {
            color: #fff;
        }
    }
    &.collapse_style {
        @include sorting-icon;
    }
}
