@import "./common";

.gswpts_style-3.gswpts_style-3 {
    $border-radius: 10px;

    table {
        border-collapse: separate;

        td,
        th {
            border: none;
            outline: none;
        }

        th {
            background-color: #6c7ae0;
            color: #fff;
            border-top: none;
        }

        th:first-child {
            border-radius: $border-radius 0 0 0;
            border-right: none;
        }
        th:last-child {
            border-radius: 0 $border-radius 0 0;
            border-left: none;
        }

        tr:last-child td:first-child {
            border-radius: 0 0 0 $border-radius;
        }
        tr:last-child td:last-child {
            border-radius: 0 0 $border-radius 0;
        }

        td:first-child {
            border-right: none;
        }
        td:last-child {
            border-left: none;
        }

        td:not(:first-child, :last-child) {
            border-left: none;
            border-right: none;
        }
        th,
        td {
            border-top: none;
            border-bottom: none;
        }
        tr:nth-child(even) td {
            background-color: #f8f6ff;
        }
        tr:nth-child(odd) td {
            background-color: #fff;
        }
    }
    .sorting.sorting.sorting::after {
        color: #fff;
    }

    &.gswpts_responsive {
        @include sorting-icon;

        @include mobile-tablet-table($border-radius);
    }
}
