@import './Parts/variable';

.gswpts_create_table_container {

	.block_initializer {
		display: flex;
		justify-content: center;
		gap: 50px;
	}

	table {
		width: 100% !important;
	}

	button {
		padding: .78571429em 1.5em .78571429em !important;
		border-radius: .28571429rem !important;
		font-family: $font-family;
		font-weight: bold !important;
	}

	.create_table_input {
		display: flex;
		gap: 20px;
		justify-content: center;
		margin-bottom: 35px;

		button {
			font-family: $font-family;
			font-weight: bold;
		}

		div {
			height: 40px;

			&:nth-child(1) {
				width: 20%;
			}

			&:nth-child(2) {
				width: 60%;
			}
		}
	}

	#spreadsheet_container {
		h4 {
			font-family: $font-family !important;
			text-align: center;
			font-weight: bold;
			color: #6435c9;
			text-transform: capitalize;
			letter-spacing: 0.5px;
			padding-top: 20px;
		}
	}
}

.components-panel__row {
	.default_rows {
		width: 100%;
		margin-bottom: 15px;
	}
}