@use './Parts/mixin';

/* End of mixin */

.gswpts_tables_container {
    @include mixin.button_style;
    @include mixin.input_style;
    @include mixin.pagination_style;
    @include mixin.datatable_semantic;
    @include mixin.loader_style;
    margin: 30px 0;
    position: relative;
    padding: 30px;
    .gswpts_table_loader {
        width: 100%;
        min-height: 200px;
    }
    table {
        th,
        td {
            max-width: 200px;
            min-width: 90px;
            overflow-wrap: break-word;
            border: 1px solid #76767647;
        }
        th:focus {
            outline: none;
        }
    }
    select {
        width: 90px;
        border-radius: 5px;
        border: 1px solid #00000033 !important;
        background: transparent !important;
    }
    .dt-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
        gap: 10px;
        button {
            font-size: 13px !important;
            margin: 0 6px;
            margin-right: 5px;
            &:hover img {
                filter: brightness(0.1);
            }
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 21px;
        }
        .export_btns {
            display: none;
        }
    }
    .gswpts_tables_content {
        table {
            width: 100% !important;
        }
        .filtering_input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0 5px 0;
            #create_tables_length {
                margin-right: auto;
            }
            #create_tables_filter {
                margin-left: auto;
            }
            input {
                background: transparent !important;
            }
        }
        .bottom_options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .dataTables_info {
                padding-top: 0 !important;
                margin-right: auto;
            }
            #create_tables_paginate {
                margin-left: auto;
            }
            .pagination.menu {
                padding: 0 !important;
                font-size: 14px !important;
                background: transparent !important;
            }
        }
    }
    @media screen and (max-width: 540px) {
        .dt-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            button {
                font-size: 10px !important;
                margin: 10px 0;
            }
        }
        .filtering_input {
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;
            div {
                margin: 10px 0 !important;
                padding: 0 !important;
            }
        }
        .bottom_options {
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;
            div {
                margin: 10px 0 !important;
            }
        }
    }
    @media screen and (max-width: 700px) {
        .dt-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            button {
                font-size: 12px !important;
                margin: 10px 0;
            }
        }
    }
}

/* Lock this css in free version */

.gswpts_tables_container.gswpts_resposive {
    @include mixin.table_style;
}
