@use './Parts/mixin';

.gswpts_tables_container.collapse_style {
    @media screen and (max-width: 768px) {
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
            font-size: 14px;
        }

        tbody {
            display: flex;
            flex-direction: column;
        }

        tbody tr td {
            padding-left: 50%;
            position: relative;

            &::before {
                content: attr(data-content);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                padding-left: 15px;
                height: 100%;
                width: 47%;
                overflow-x: scroll;
                white-space: nowrap;
                display: flex;
                align-items: center;
                font-weight: bolder;
            }

            &::after {
                content: "";
                position: absolute;
                height: 100%;
                background: rgba(34, 36, 38, 0.1);
                width: 1px;
                display: block;
                top: 0;
                left: 47%;
            }
        }
    }
}
