.gswpts_dashboard_container{
    margin-right: 20px;
    *{
        font-family: $font-family;
    }
    a {
        cursor: pointer;
        color: $link-color;
        transition: color 0.1s ease-in-out;
        &:hover{
            color: $link-hover-color;
        }
    }
}
.dash_boxes{
    background-color: $bg-color;
    border-radius: $border-radious;
}
.heading_row{
    button{
        span{
            font-size: 15px;
            margin-left: 5px;
        }
    }
}

.latest_table{
    .details{
       .ui.label{
           font-size: 13px;
       }
       i{
            cursor: pointer;
       }
       .ui.tag.label{
           font-size: 10px;
       }
    }
    .card-body{
        .total_created{
            span:nth-of-type(1){
                    font-size: 40px;
                    margin-bottom: 10px;
            }
        }
    }
}
.change_logs{
	.info_circle{
		color: $link-hover-color;
	}
}
.card-header {
	.title{
		i {
			color: $link-hover-color;
		}
	}
}
.pro_box{
    .card{
        background-repeat: no-repeat;
        background-position: 90% bottom;
    }
	li{
		i{
			color: $link-color;
		}
	}
}
.subscribe_sec{
    .ui.cards > .card{
        width: 100%;
    }
}