@use '../Frontend/Parts/mixin';

.gswpts_create_table_container {
    margin: 30px 0;

    .gswpts_table_loader {
        min-height: 450px;
        width: 100% !important;
    }

    table {
        th,
        td {
            max-width: 200px;
            min-width: 90px;
            overflow-wrap: break-word;
            border: 1px solid #76767647;
        }

        th:focus {
            outline: none;
        }
    }

    #gswpts_tables_container .ui.stackable.grid {
        margin: 0;

        .row {
            width: 105% !important;
        }
    }

    #manage_tables_paginate > div {
        padding-top: 0 !important;
    }

    #spreadsheet_container .ui.stackable.grid {
        margin: 0;

        .row {
            width: 105% !important;
        }

        #create_tables th,
        #create_tables td {
            vertical-align: middle;
        }
    }

    #spreadsheet_container {
        #create_tables_wrapper {
            width: 100% !important;
        }

        table {
            width: 100%;

            th,
            td {
                max-width: 200px;
                overflow-wrap: break-word;
            }

            th:focus {
                outline: none;
            }
        }

        #create_tables_paginate > div {
            padding-top: 0 !important;
        }

        .dt-buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 5px;

            button {
                font-size: 13px;
                margin: 0 5px;
            }
        }

        .filtering_input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0 5px 0;

            #create_tables_length {
                margin-right: auto;
            }

            #create_tables_filter {
                margin-left: auto;
            }
        }

        .bottom_options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .dataTables_info {
                padding-top: 0 !important;
                margin-right: auto;
            }
            #create_tables_paginate {
                margin-left: auto;
                padding: 0 5px;
            }
            .pagination.menu {
                padding: 0 !important;
                font-size: 14px;
                background: transparent !important;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                border: none;
                margin: 0 5px;

                & > * {
                    padding: 9px 16px;
                    border: 1px solid #a9a1a13d;
                    -webkit-box-shadow: 1px 1px 0px 0px rgba(145, 145, 145, 0.48);
                    box-shadow: 1px 1px 0px 0px rgba(145, 145, 145, 0.48);
                    &:first-child {
                        border-radius: 0.28571429rem 0px 0px 0.28571429rem;
                    }
                    &:last-child {
                        border-radius: 0px 0.28571429rem 0.28571429rem 0px 0px;
                    }
                    font-weight: bold;
                    color: rgba(56, 13, 13, 0.787);

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.03);
                    }
                }
                a {
                    text-decoration: none;
                }
                .active {
                    background-color: #b3b3b35c;
                }
            }
        }
    }
}

.gswpts_create_table_container,
.gswpts_tables_container {
    @include mixin.datatable_semantic;
    @include mixin.loader_style;
}
