@use '../Frontend/Parts/mixin';

.gswpts_create_table_container {
    margin: 30px 0;

    .gswpts_table_loader {
        min-height: 450px;
        width: 100% !important;
    }

    table {
        th,
        td {
            max-width: 200px;
            min-width: 90px;
            overflow-wrap: break-word;
            border: 1px solid #76767647;
        }

        th:focus {
            outline: none;
        }
    }

    #gswpts_tables_container .ui.stackable.grid {
        margin: 0;

        .row {
            width: 105% !important;
        }
    }

    #manage_tables_paginate > div {
        padding-top: 0 !important;
    }

    #spreadsheet_container .ui.stackable.grid {
        margin: 0;

        .row {
            width: 105% !important;
        }

        #create_tables th,
        #create_tables td {
            vertical-align: middle;
        }
    }

    #spreadsheet_container {
        #create_tables_wrapper {
            width: 100% !important;
        }

        table {
            width: 100%;

            th,
            td {
                max-width: 200px;
                overflow-wrap: break-word;
            }

            th:focus {
                outline: none;
            }
        }

        #create_tables_paginate > div {
            padding-top: 0 !important;
        }

        .dt-buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 5px;

            button {
                font-size: 13px;
                margin: 0 5px;
            }
        }

        .filtering_input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0 5px 0;

            #create_tables_length {
                margin-right: auto;
            }

            #create_tables_filter {
                margin-left: auto;
            }
        }

        .bottom_options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            .dataTables_info {
                padding-top: 0 !important;
                margin-right: auto;
            }

            #create_tables_paginate {
                margin-left: auto;
            }
        }
    }
}

.gswpts_create_table_container,
.gswpts_tables_container {
    @include mixin.button_style;
    @include mixin.input_style;
    @include mixin.pagination_style;
    @include mixin.datatable_semantic;
    @include mixin.loader_style;
}

.gswpts_tables_container {
    table {
        th,
        td {
            max-width: 200px;
            min-width: 90px;
            overflow-wrap: break-word;
            border: 1px solid #76767647;
        }

        th:focus {
            outline: none;
        }
    }

    select {
        width: 70px;
        border-radius: 5px;
        border: 1px solid #00000033 !important;
        background: transparent !important;
    }

    .dt-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
        gap: 10px;

        button {
            font-size: 13px;
            margin: 0 6px;
        }

        .export_btns {
            display: none;
        }
    }

    .gswpts_tables_content {
        table {
            width: 100% !important;
        }

        .filtering_input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0 5px 0;

            #create_tables_length {
                margin-right: auto;
            }

            #create_tables_filter {
                margin-left: auto;
            }

            input {
                background: transparent !important;
            }
        }

        .bottom_options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            .dataTables_info {
                padding-top: 0 !important;
                margin-right: auto;
            }

            #create_tables_paginate {
                margin-left: auto;
            }

            .pagination.menu {
                padding: 0 !important;
                font-size: 14px !important;
                background: transparent !important;
            }
        }
    }

    @media screen and (max-width: 540px) {
        .dt-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            button {
                font-size: 15px;
                margin: 10px 0;
            }
        }

        #filtering_input {
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;

            div {
                margin: 10px 0 !important;
                padding: 0 !important;
            }
        }

        #bottom_options {
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;

            div {
                margin: 10px 0 !important;
            }
        }
    }
}
